<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>책 상세 수정</title>
    <link th:href="@{/css/book/detail.css}" href="../../static/css/book/detail.css" rel="stylesheet"/>
    <link th:href="@{/css/admin/booklist-edit-form.css}" rel="stylesheet"/>
</th:block>
<div th:replace="~{fragments/header.html}"></div>
<main th:fragment="content">
    <div class="detail-wrap">
        <form class="book-detail book-form" onsubmit="return false" th:object="${book}">
            <div class="book-detail-header">
                <input type="hidden" class="book-id" th:field="*{id}">
                <textarea class="title" th:field="*{title}"></textarea>
                <div class="book-info">
                    <input class="author" th:field="*{author}">
                    <input class="publisher" th:field="*{publisher}">
                    <p th:text="${#temporals.format(book.publishDate, 'yyyy-MM-dd')}"></p>
                </div>
            </div>
            <div class="book-detail-body">
                <img class="book-img" th:src="${book.image}">
                <div class="book-detail-body-right">
                    <div class="price-info">
                        <p class="price-label" th:text="'판매가'"></p>
                        <div>
                            <input class="price"
                               th:field="*{price}">
                        </div>
                    </div>
                    <div class="count-info">
                        <p class="count-label" th:text="'수량'"></p>
                        <input class="count-input" type="text" th:field="*{stock}">
                    </div>
                </div>
            </div>
            <div class="book-description">
                <p th:text="'책 소개'"></p>
                <textarea class="description"
                   th:field="*{description}"></textarea>
            </div>
            <div class="button-container">
                <button type="button" class="edit-button" onclick="clickEditBookButton()">수정</button>
                <button type="button" class="delete-button" onclick="clickCancelButton()">취소</button>
            </div>
        </form>
    </div>
</main>
<div th:replace="~{fragments/footer.html}"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/admin/booklist/editForm.js}"></script>
</html>