<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>신간 등록</title>
    <link th:href="@{/css/admin/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/admin/book-registration.css}" rel="stylesheet"/>
</th:block>
<div th:replace="~{fragments/header.html}"></div>
<main th:fragment="content">
    <aside th:replace="~{fragments/sidebar-admin.html}"></aside>
    <div class="mypage-wrap">
        <p class="mypage-title">신간 등록</p>
        <form class="search-form">
            <input class="search-input" th:placeholder="'검색할 도서를 입력해주세요. (저자, 책 제목)'">
            <button class="search-button" th:text="'검색'"></button>
        </form>
        <section>
            <div class="book-list">
                <ul class="book-list-header">
                    <li>
                        <p class="select">선택</p>
                        <p class="book-name">상품명</p>
                        <p class="isbn">ISBN</p>
                        <p class="price">가격</p>
                        <p class="author">저자</p>
                        <p class="publish">출판사</p>
                    </li>
                </ul>
                <ul class="book-list-body">
                    <li th:each="dto : ${#numbers.sequence(1,5)}">
                        <input type="hidden" th:value="'bookid'">
                        <div class="select">
                            <input type="checkbox">
                        </div>
                        <p class="book-name">상품명</p>
                        <p class="isbn">ISBN</p>
                        <p class="price">가격</p>
                        <p class="author">저자</p>
                        <p class="publish">출판사</p>
                    </li>
                </ul>
            </div>
            <ul class="page-button-group">
                <li th:each="num : ${#numbers.sequence(1,5)}">
                    <button th:text="${num}"></button>
                </li>
            </ul>
        </section>
    </div>
</main>
<div th:replace="~{fragments/footer.html}"></div>
</html>