<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>재고 조회</title>
    <link th:href="@{/css/admin/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/admin/stocklist.css}" rel="stylesheet"/>
</th:block>
<div th:replace="~{fragments/header.html}"></div>
<main th:fragment="content">
    <aside th:replace="~{fragments/sidebar-admin.html}"></aside>
    <div class="mypage-wrap">
        <p class="mypage-title">재고 조회</p>
        <form class="search-form" action="/admin/stocklist/search">
            <input class="search-input" th:placeholder="'검색할 도서를 입력해주세요. (저자, 책 제목)'"
                   th:name="keyword">
            <button class="search-button" th:text="'검색'"></button>
        </form>
        <section>
            <div class="book-list">
                <ul class="book-list-header">
                    <li>
                        <p class="book-name">상품명</p>
                        <p class="price">가격</p>
                        <p class="quantity">수량</p>
                    </li>
                </ul>
                <ul class="book-list-body">
                    <li class="book-item" th:each="book : ${dto}">
                        <input type="hidden" class="book-id" th:value="${book.id}">
                        <p class="book-name" th:text="${book.title}"></p>
                        <p class="price" th:text="${book.price}+'원'" th:value="${book.price}"></p>
                        <input class="quantity" th:value="${book.stock}">
                        <button class="edit-button" onclick="clickEditStockButton(this)">수정</button>
                        <button class="delete-button" onclick="clickDeleteBookButton(this)">삭제</button>
                    </li>
                </ul>
                <div class="no-content" th:if="${dto.isEmpty()}">
                    책이 없습니다.
                </div>
            </div>
            <div th:replace="~{fragments/page.html}"></div>
        </section>
    </div>
</main>
<div th:replace="~{fragments/footer.html}"></div>
<script th:src="@{/js/admin/stocklist/page.js}"></script>
<script th:src="@{/js/admin/search.js}"></script>
<script th:src="@{/js/admin/stocklist/stocklist.js}"></script>
</html>