<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>책 상세 정보</title>
    <link th:href="@{/css/book/detail.css}" href="../../static/css/book/detail.css" rel="stylesheet"/>
</th:block>
<div th:replace="~{fragments/header.html}"></div>
<main th:fragment="content">
    <div class="detail-wrap">
        <section class="book-detail">
            <div class="book-detail-header">
                <h1 th:text="'명탐정 코난 104 - (특장판)'"></h1>
                <div class="book-info">
                    <p th:text="'아오야마 고쇼'"></p>
                    <p th:text="'서울 미디어'"></p>
                    <p th:text="'2024-04-24'"></p>
                </div>
            </div>
            <div class="book-detail-body">
                <img class="book-img" th:src="@{'/images/book/1.png'}">
                <div class="book-detail-body-right">
                    <div class="price-info">
                        <p class="price-label" th:text="'판매가'"></p>
                        <div>
                            <p class="price" th:text="'10,000원'"></p>
                            <button class="favorite-book-button" onclick="clickFavorite(this)">
                                <img class="not-favor-img" th:src="@{'/images/dislike.png'}">
                            </button>
                        </div>
                    </div>
                    <div class="mileage-info">
                        <p class="mileage-label" th:text="'마일리지'"></p>
                        <ul>
                            <li>
                                <p class="grade" th:text="'기본'"></p>
                                <p class="discount" th:text="'(5%)'"></p>
                                <p class="mileage" th:text="'500M'"></p>
                            </li>
                            <li>
                                <p class="grade" th:text="'VIP'"></p>
                                <p class="discount" th:text="'(10%)'"></p>
                                <p class="mileage" th:text="'1000M'"></p>
                            </li>
                            <li>
                                <p class="grade" th:text="'VVIP'"></p>
                                <p class="discount" th:text="'(15%)'"></p>
                                <p class="mileage" th:text="'1500M'"></p>
                            </li>
                        </ul>
                    </div>
                    <div class="delivery-info">
                        <p class="delivery-label" th:text="'배송료'"></p>
                        <div>
                            <p class="delivery-charge" th:text="'3000원'"></p>
                            <p class="delivery-etc" th:text="'(20,000원 이상 주문시 무료 배송)'"></p>
                        </div>
                    </div>
                    <div class="score-info">
                        <p class="score-label" th:text="'평점'"></p>
                        <img class="star" th:src="@{'/images/star.png'}" th:each="num : ${#numbers.sequence(1,5)}">
                        <p class="score" th:text="'5.0'"></p>
                    </div>
                    <div class="count-info">
                        <p class="count-label" th:text="'수량'"></p>
                        <input class="count-input" type="text" value="1">
                    </div>
                    <div class="button-group">
                        <button class="cart-button" th:text="'장바구니'"></button>
                        <button class="purchase-button" th:text="'구매하기'"></button>
                    </div>
                </div>
            </div>
            <div class="book-description">
                <p th:text="'책 소개'"></p>
                <p class="description"
                   th:text="'아오야마 고쇼가 직접 그린 극장판 <명탐정 코난 : 흑철의 어영> 의 환상적인 그림 콘티북과 어나더 커버를 만나보자.'"></p>
            </div>
            <article class="review-area">
                <p th:text="'리뷰'"></p>
                <hr>
                <form class="review-form">
                    <div class="review-score-info">
                        <img class="review-star" th:src="@{'/images/blank_star.png'}"
                             th:each="num : ${#numbers.sequence(1,5)}">
                        <p class="review-score" th:text="'0.0'"></p>
                    </div>
                    <input class="review-input" th:placeholder="'해당 도서를 다른 사람들에게 추천해주세요.'">
                    <button class="submit-button" th:text="'등록'"></button>
                </form>
                <div class="order-by">
                    <p th:text="최신순"></p>
                    <p th:text="공감순"></p>
                </div>
                <hr>
                <ul>
                    <li class="review" th:each="num : ${#numbers.sequence(1,3)}">
                        <div class="review-top">
                            <div class="score-div">
                                <img class="review-list-star" th:src="@{'/images/star.png'}"
                                     th:each="num : ${#numbers.sequence(1,5)}">
                            </div>
                            <p class="review-content"
                               th:text="'아오야마 고쇼가 직접 그린 극장판 <명탐정 코난 : 흑철의 어영> 의 환상적인 그림 콘티북과 어나더 커버를 만나보자.'"></p>
                        </div>
                        <div class="review-bottom">
                            <div class="review-info">
                                <p class="reviewer" th:text="'작성자 : 레오나르도다빈치'"></p>
                                <p class="review-date" th:text="'2024-04-26'"></p>
                            </div>
                            <div class="like-div">
                                <p class="like" th:text="'추천'"></p>
                                <p class="like-count" th:text="'12224'"></p>
                                <p class="dislike" th:text="'비추천'"></p>
                                <p class="dislike-count" th:text="'1240'"></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </article>
        </section>
    </div>
</main>
<div th:replace="~{fragments/footer.html}"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/book/detail.js}"></script>
</html>