<li class="review" th:each="review : ${reviews}">
    <div class="edit-button-div" th:if="${review.userId == userId}">
        <button>수정</button>
        <button onclick="deleteReview()">삭제</button>
    </div>
    <div class="review-top">
        <div class="score-div">
            <img th:if="${review.score != 0}" class="review-list-star" th:src="@{'/images/star.png'}"
                 th:each="num : ${#numbers.sequence(0, review.score - 1)}">
            <img th:if="${review.score != 5}" class="review-list-star" th:src="@{'/images/blank_star.png'}"
                 th:each="num : ${#numbers.sequence(0, 5 - review.score - 1)}">
        </div>
        <pre class="review-content"
             th:text="${review.content}"></pre>
    </div>
    <div class="review-bottom">
        <div class="review-info">
            <input type="hidden" class="review-id" th:value="${review.id}">
            <p class="reviewer" th:text="'작성자 : '+${review.nickName}"></p>
            <p class="review-date"
               th:text="${#temporals.format(review.createTime, 'yyyy-MM-dd HH:mm')}"></p>
        </div>
        <div class="like-button-div">
            <div class="like-div">
                <button class="like" th:class="${review.liked} ? 'liked'"
                        th:onclick="clickLike(this, [[${review.id}]])" th:text="'추천'"></button>
                <p class="like-count" th:text="${review.likeCount}"></p>
            </div>
            <div class="dislike-div">
                <button class="dislike" th:class="${review.disliked} ? 'disliked'"
                        th:onclick="clickDislike(this, [[${review.id}]])" th:text="'비추천'"></button>
                <p class="dislike-count" th:text="${review.dislikeCount}"></p>
            </div>
        </div>
    </div>
</li>