<li class="review" th:each="review : ${reviews}">
    <div class="edit-button-div" th:if="${review.userId == userId}">
        <button onclick="editReview(this)">수정</button>
        <button onclick="deleteReview(this)">삭제</button>
    </div>
    <div class="review-top">
        <input type="hidden" class="review-id" th:value="${review.id}">
        <div class="review-score-div">
            <img th:if="${review.score != 0}" class="review-list-star"
                 th:src="@{'/images/star.png'}"
                 th:each="num : ${#numbers.sequence(0, review.score - 1)}">
            <img th:if="${review.score != 5}" class="review-list-star"
                 th:src="@{'/images/blank_star.png'}"
                 th:each="num : ${#numbers.sequence(0, 5 - review.score - 1)}">
        </div>
        <div class="edit-score-div">
            <img class="edit-review-star" src="/images/blank_star.png" alt="별" data-value="1">
            <img class="edit-review-star" src="/images/blank_star.png" alt="별" data-value="2">
            <img class="edit-review-star" src="/images/blank_star.png" alt="별" data-value="3">
            <img class="edit-review-star" src="/images/blank_star.png" alt="별" data-value="4">
            <img class="edit-review-star" src="/images/blank_star.png" alt="별" data-value="5">
        </div>
        <p class="edit-review-score" th:text="${review.score}"></p>
        <pre class="content" th:text="${review.content}"></pre>
        <div class="edit-text-area-div">
            <div>
                                    <textarea class="edit-review-input"
                                              onchange="editReviewWordCount(this)"
                                              oninput="editReviewWordCount(this)"></textarea>
                <div class="comment-text-count">0/500</div>
            </div>
            <button class="edit-button" onclick="updateReview(this)" th:text="'수정'"></button>
            <button class="cancel-button" onclick="editReviewCancel(this)" th:text="'취소'"></button>
        </div>
    </div>
    <div class="review-bottom">
        <div class="review-info">
            <p class="reviewer" th:text="'작성자 : '+${review.nickName}"></p>
            <p class="review-date"
               th:text="${#temporals.format(review.createTime, 'yyyy-MM-dd HH:mm')}"></p>
        </div>
        <div class="like-button-div">
            <div class="like-div">
                <button class="like" th:class="${review.liked} ? 'liked'"
                        th:onclick="clickLike(this, [[${review.id}]])" th:text="'추천'"></button>
                <p class="like-count" th:text="${review.likeCount}"></p>
            </div>
            <div class="dislike-div">
                <button class="dislike" th:class="${review.disliked} ? 'disliked'"
                        th:onclick="clickDislike(this, [[${review.id}]])" th:text="'비추천'"></button>
                <p class="dislike-count" th:text="${review.dislikeCount}"></p>
            </div>
        </div>
    </div>
</li>