<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>책 검색</title>
    <link th:href="@{/css/book/search.css}" rel="stylesheet"/>
</th:block>
<div th:replace="~{fragments/header.html}"></div>
<main th:fragment="content">
    <div class="search-wrap">
        <article>
            <form class="search-form" onsubmit="return submitForm()">
                <div class="select-box">
                    <button class="select-box-button">
                        <img th:src="@{/images/triangle-down.svg}">
                        <p>선택</p>
                    </button>
                    <ul class="select-box-option">
                        <li>
                            <button>책</button>
                        </li>
                        <li>
                            <button>리스트</button>
                        </li>
                    </ul>
                </div>
                <input class="search-input" th:placeholder="'검색할 도서를 입력해주세요. (저자, 책 제목)'" th:name="keyword">
                <button class="search-button" th:text="'검색'"></button>
            </form>
        </article>
        <section class="search-list-section">
            <article>
                <div class="search-list-header">
                    <p class="search-list-title" th:text="'검색 결과'"></p>
                </div>
                <div class="search-list">
                    <ul class="row">
                        <li th:each="book:${books}">
                            <figure>
                                <img th:src="${book.image}" th:alt="'책 이름'">
                                <figcaption>
                                    <p class="book-title" th:text="${book.title}"></p>
                                    <p class="author" th:text="${book.author}"></p>
                                    <p class="price" th:text="${book.price}"></p>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
                <div class="page-button-group" th:if="${books.isEmpty()}">
                    <p class="no-content-text">콘텐츠가 없습니다.</p>
                </div>
                <ul class="page-button-group" th:unless="${books.isEmpty()}">
                    <li th:if="${books.number>4}">
                        <button th:onclick="clickPrevPageButton([[${startPage}]], [[${keyword}]])">
                            &lt;
                        </button>
                    </li>
                    <li th:each="num : ${#numbers.sequence(startPage, endPage)}">
                        <button th:text="${num}" th:if="${books.number+1 eq num}"
                                th:class="select-button"></button>
                        <button th:text="${num}" th:unless="${books.number+1 eq num}"
                                th:onclick="clickPageButton(this,  [[${keyword}]])"></button>
                    </li>
                    <li th:if="${books.totalPages > 5 and endPage != books.totalPages}">
                        <button th:onclick="clickNextPageButton([[${endPage}]], [[${keyword}]])">
                            &gt;
                        </button>
                    </li>
                </ul>
            </article>
        </section>
    </div>
</main>
<div th:replace="~{fragments/footer.html}"></div>
<script th:src="@{/js/search/page.js}"></script>
<script th:src="@{/js/search/search.js}"></script>
</html>