main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

main::before {

    content: "";

    background-image: url("../../images/login-background.png");
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.login-wrap {

    background-color: transparent;
}

.title {

    margin-bottom: 50px;
    color: #ffffff;
    background-color: inherit;

    position: relative;
}

.login-form {

    position: relative;
}

.login-form, .login-form ul {

    background-color: inherit;
}

.login-form li {

    display: flex;
    align-items: center;

    margin-bottom: 10px;
    background-color: inherit;
}

.label {

    width: 150px;
    color: #ffffff;
    background-color: inherit;
}

.input {

    width: 300px;

    border: none;
    outline: none;

    background-color: white;
    color: #252525;

    border-radius: 5px;
    padding: 10px;

    margin-right: 10px;
}

.button {

    background-color: #D54DFE;

    border-radius: 5px;
    padding: 10px;
}

.button-group {

    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;

    background-color: inherit;
}

.login {

    background-color: #D54DFE;
}

.register {

    background-color: #595959;
}