<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>책 추천</title>
    <link th:href="@{/css/alan/recommend.css}" rel="stylesheet"/>
</th:block>
<div th:replace="~{fragments/header.html}"></div>
<main th:fragment="content">
    <div class="alan-recommend-wrap">
        <section class="chatting-read-area">
            <p class="title">앨런에게 책 추천 받기</p>
            <div class="alan-chat">
                <img th:src="@{/images/alan_chat.png}">
                <textarea class="read-text" readonly></textarea>
            </div>
            <div class="user-chat">
                <textarea class="read-text" readonly></textarea>
                <img th:src="@{/images/user_chat.png}">
            </div>
            <div class="alan-chat">
                <img th:src="@{/images/alan_chat.png}">
                <textarea class="read-text" readonly></textarea>
            </div>
            <div class="user-chat">
                <textarea class="read-text" readonly></textarea>
                <img th:src="@{/images/user_chat.png}">
            </div>
            <div class="alan-chat">
                <img th:src="@{/images/alan_chat.png}">
                <textarea class="read-text" readonly></textarea>
            </div>
            <div class="user-chat">
                <textarea class="read-text" readonly></textarea>
                <img th:src="@{/images/user_chat.png}">
            </div>
        </section>
        <section class="chatting-write-area">
            <textarea class="write-text"
                      placeholder="'앨런에게 책을 추천 받아보세요'"></textarea>
            <button class="submit">입력</button>
        </section>
    </div>
</main>
<div th:replace="~{fragments/footer.html}"></div>
</html>