main {

    display: flex;
}

.mypage-wrap {

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 60px;
    gap: 50px;

    margin: 0 auto;
}

.page-title-div {
    width: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 50px;
}

.mypage-title {
    font-size: 30px;
    margin-left: 20px;
}

.recommend-list-title{
    font-size: 23px;
}

.create-button {

    background-color: #D54DFE;

    border-radius: 5px;
    padding: 10px;

    margin-right: 20px;
}

.recommend-list-container {

    margin-bottom: 50px;
}

.recommend-list-header {

    display: flex;
    justify-content: space-between;

    margin: 10px 20px;
}

.recommend-list-bottom {

    text-align: right;
}


.delete-button {

    margin-right: 20px;
}

.page-button-group {

    display: flex;
    justify-content: center;

    gap: 20px;
    margin-top: 50px;
}