main {

    display: flex;
}

.mypage-wrap {

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 60px;
    gap: 150px;

    margin: 0 auto;
}

.mypage-title {

    font-size: 30px;
    margin-bottom: 50px;
}

.update-info-form li {

    display: flex;
    align-items: center;

    margin-bottom: 10px;
}

.label {

    width: 150px;
}

.input {

    width: 300px;

    border: none;
    outline: none;

    background-color: white;
    color: #252525;

    border-radius: 5px;
    padding: 10px;

    margin-right: 10px;
}

.button {

    width: 80px;
    background-color: #D54DFE;

    border-radius: 5px;
    padding: 10px;
}

.button-group {

    display: flex;
    justify-content: center;

    margin-top: 60px;
    gap: 10px;
}

.submit {

    background-color: #D54DFE;
}

.cancel {

    background-color: #595959;
}