<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>로그인</title>
    <link th:href="@{/css/user/login.css}" href="../../static/css/user/registration.css" rel="stylesheet"/>
</th:block>
<div th:replace="~{fragments/header.html}"></div>
<main th:fragment="content">
    <div class="login-wrap">
        <section>
            <p class="title">로그인</p>
            <form class="login-form">
                <ul>
                    <li th:each="label : ${#strings.arraySplit('이메일,비밀번호',',')}">
                        <p class="label" th:text="${label}"></p>
                        <input class="input">
                    </li>
                </ul>
                <div class="button-group">
                    <button type="button" class="login button" th:text="'로그인'"></button>
                    <button type="button" class="register button" th:text="'회원가입'"></button>
                </div>
            </form>
        </section>
    </div>
</main>
<div th:replace="~{fragments/footer.html}"></div>
<script th:src="@{/js/user/login.js}"></script>
</html>