<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>회원 가입</title>
    <link th:href="@{/css/user/registration.css}" href="../../static/css/user/registration.css" rel="stylesheet"/>
</th:block>
<div th:replace="~{fragments/header.html}"></div>
<main th:fragment="content">
    <div class="registration-wrap">
        <section>
            <p class="title">회원 가입</p>
            <form class="registration-form">
                <ul>
                    <li th:each="label : ${#strings.arraySplit('이름,이메일,닉네임,비밀번호,비밀번호 확인,주소,우편번호',',')}">
                        <p class="label" th:text="${label}"></p>
                        <input class="input" th:if="${label != '비밀번호' and label != '비밀번호 확인'}" type="text">
                        <input class="input" th:if="${label == '비밀번호' or label == '비밀번호 확인'}" type="password">
                        <button type="button" class="button"
                                th:if="${label == '이메일' or label == '닉네임'}" th:text="'중복 확인'"></button>
                        <button class="button"
                                th:if="${label == '주소'}" th:text="'검색'"></button>
                    </li>
                </ul>
                <div class="button-group">
                    <button class="submit button" th:text="'가입하기'"></button>
                    <button class="cancel button" th:text="'취소'"></button>
                </div>
            </form>
        </section>
    </div>
</main>
<div th:replace="~{fragments/footer.html}"></div>
<script th:src="@{/js/user/registration.js}"></script>
</html>