<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/footer.css">
<div class="header sticky-element">
    <ul>
        <li class="home-button">
            <a th:href="@{/}">
                <img class="logo" th:src="@{/images/logo.png}">
                <p>오늘의 책
                </p>
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <div class="dropdown" th:if="${userName != null}">
                <p th:text="${userName}+'님 안녕하세요'"></p>
                <ul class="dropdown-options">
                    <li>
                        <a th:href="@{/mypage/orderlist}">마이페이지</a>
                    </li>
                    <li>
                        <a th:href="@{/cart/list}">장바구니</a>
                    </li>
                    <li>
                        <a th:href="@{/logout}">로그아웃</a>
                    </li>
                </ul>
            </div>
            <div class="login" th:unless="${userName != null}">
                <a th:href="@{/login}">로그인</a>
                <a th:href="@{/signup}">회원가입</a>
            </div>
        </li>
    </ul>
</div>