<ul class="page-button-group" th:unless="${dto.isEmpty()}">
    <li th:if="${dto.number>4}">
        <button th:onclick="clickPrevPageButton([[${startPage}]], [[${keyword}]])">
            &lt;
        </button>
    </li>
    <li th:each="num : ${#numbers.sequence(startPage, endPage)}">
        <button th:text="${num}" th:if="${dto.number+1 eq num}"
                th:class="select-button"></button>
        <button th:text="${num}" th:unless="${dto.number+1 eq num}"
                th:onclick="clickPageButton(this,  [[${keyword}]])"></button>
    </li>
    <li th:if="${dto.totalPages > 5 and endPage != dto.totalPages}">
        <button th:onclick="clickNextPageButton([[${endPage}]], [[${keyword}]])">
            &gt;
        </button>
    </li>
</ul>