<div class="recommend-list-header">
    <div class="recommend-list-title-container">
        <button th:class="${recommendList.isBookmarked} ? 'redheart' : 'emptyheart'"
                onclick="clickBookMarkBtn(this)"
                th:value="${recommendList.listId}"></button>
        <p class="recommend-list-title"
           th:text="${recommendList.nickname}+'님의 추천리스트 | '+${recommendList.listTitle}"></p>
    </div>
    <a th:href="'/recommend/detail/'+${recommendList.listId}">더보기</a>
</div>