<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/index.css}" href="../../static/css/list/list.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../static/css/common.css">
</head>
<body>
<article>
    <div class="recommend-list-header">
        <p class="recommend-list-title">user의 추천리스트 | 타이틀</p>
        <p class="more-button">더보기</p>
    </div>
    <div class="list-container">
        <button class="prev-btn" onclick="prevSlide(1,this)">&lt;</button>
        <div class="slider-container">
            <ul class="recommend-list">
                <li class="book-item">
                    <img src="../../static/images/book/1.png">
                </li>
                <li class="book-item">
                    <img src="../../static/images/book/2.png">
                </li>
                <li class="book-item">
                    <img src="../../static/images/book/3.png">
                </li>
                <li class="book-item">
                    <img src="../../static/images/book/4.png">
                </li>
                <li class="book-item">
                    <img src="../../static/images/book/5.png">
                </li>
                <li class="book-item">
                    <img src="../../static/images/book/6.png">
                </li>
                <li class="book-item">
                    <img src="../../static/images/book/7.png">
                </li>
                <li class="book-item">
                    <img src="../../static/images/book/8.png">
                </li>
                <li class="book-item">
                    <img src="../../static/images/book/9.png">
                </li>
                <li class="book-item">
                    <img src="../../static/images/book/10.png">
                </li>
                <li class="book-item">
                    <img src="../../static/images/book/11.png">
                </li>
                <li class="book-item">
                    <img src="../../static/images/book/12.png">
                </li>
                <li class="book-item">
                    <img src="../../static/images/book/13.png">
                </li>
            </ul>
        </div>
        <button class="next-btn" onclick="nextSlide(1,this)">&gt;</button>
    </div>
</article>
</body>
<script src="../../static/js/list/page.js"></script>
</html>