<link th:href="@{/css/list/list.css}" rel="stylesheet"/>

<div class="recommend-list-body">
    <button th:class="${recommendList.bookList.size()}>5 ? 'prev-btn' : 'prev-btn-hidden'" th:onclick="prevSlide([[${recommendList.listId}]],this)">&lt;</button>
    <div class="slider-container">
        <ul class="recommend-list">
            <li class="book-item" th:each="book : ${recommendList.bookList}" th:value="${book.id}">
                <figure class="book-info">
                    <a th:href="'/book/detail/'+${book.id}">
                        <img th:src="${book.image}" th:alt="${book.title}">
                        <figcaption class="overlay">
                            <p class="book-title" th:if="${book.title.length() > 25}" th:text="${#strings.substring(book.title, 0, 25)} + '...'"></p>
                            <p class="book-title" th:unless="${book.title.length() > 25}" th:text="${book.title}"></p>
                            <p class="author" th:if="${book.author.length() > 25}" th:text="${#strings.substring(book.author, 0, 25)} + '...'"></p>
                            <p class="author" th:unless="${book.author.length() > 25}" th:text="${book.author}"></p>
                            <p class="price" th:text="${book.price}"></p>
                        </figcaption>
                    </a>
                </figure>
            </li>
        </ul>
    </div>
    <button th:if="${recommendList.bookList.size()}>5" class="next-btn" th:onclick="nextSlide([[${recommendList.listId}]],this)">&gt;</button>
</div>