<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/sidebar-admin.css">

<aside class="side-bar">
    <ul class="aside-body">
        <div class="title-div">
            <a th:href="@{/admin/userlist}">관리자 페이지</a>
        </div>
        <li th:each="label : ${#strings.arraySplit('회원 조회,재고 조회,배송 관리,신간 등록,책 수정,정보 수정',',')}">
            <a th:if="${label == '회원 조회'}" th:href="@{/admin/userlist}" th:text="${label}"></a>
            <a th:if="${label == '재고 조회'}" th:href="@{/admin/stocklist}" th:text="${label}"></a>
            <a th:if="${label == '배송 관리'}" th:href="@{/admin/delivery}" th:text="${label}"></a>
            <a th:if="${label == '신간 등록'}" th:href="@{/admin/book_registration}" th:text="${label}"></a>
            <a th:if="${label == '책 수정'}" th:href="@{/}" th:text="${label}"></a>
            <p th:if="${label == '정보 수정'}" th:text="${label}"></p>
            <ul th:if="${label == '정보 수정'}">
                <li>
                    <a th:href="@{/admin/updateinfo}">회원정보 수정</a>
                </li>
                <li>
                    <a th:href="@{/admin/updatepw}">비밀번호 수정</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="aside-bottom">
        <a class="logout" th:href="@{/logout}">로그아웃</a>
        <p>회원 탈퇴</p>
    </div>
</aside>