<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/sidebar-admin.css">

<aside class="side-bar" sec:authorize="hasAnyRole('ROLE_ADMIN')">
    <ul class="aside-body">
        <div class="title-div">
            <a th:href="@{/admin/order}">관리자 페이지</a>
        </div>
        <li th:each="label : ${#strings.arraySplit('주문 내역 조회,매출 조회,회원 조회,재고 조회,배송 관리,신간 등록,책 수정,추천 정보 동기화,정보 수정',',')}">
            <a th:if="${label == '주문 내역 조회'}" th:href="@{/admin/order}" th:text="${label}"></a>
            <p th:if="${label == '매출 조회'}" th:text="${label}"></p>
            <ul th:if="${label == '매출 조회'}">
                <li>
                    <a th:href="@{/admin/sales}">월별 매출</a>
                </li>
                <li>
                    <a th:href="@{/admin/sales_category}">카테고리별 매출</a>
                </li>
                <li>
                    <a th:href="@{/admin/sales_book}">상품별 매출</a>
                </li>
            </ul>
            <a th:if="${label == '회원 조회'}" th:href="@{/admin/userlist}" th:text="${label}"></a>
            <a th:if="${label == '재고 조회'}" th:href="@{/admin/stocklist}" th:text="${label}"></a>
            <a th:if="${label == '배송 관리'}" th:href="@{/admin/delivery}" th:text="${label}"></a>
            <a th:if="${label == '신간 등록'}" th:href="@{/admin/book_registration}" th:text="${label}"></a>
            <a th:if="${label == '책 수정'}" th:href="@{/admin/booklist}" th:text="${label}"></a>
            <div class="sync-div" th:if="${label == '추천 정보 동기화'}">
                <p th:text="${label}"></p>
                <button class="sync-button" onclick="clickSyncButton()">동기화</button>
            </div>
            <p th:if="${label == '정보 수정'}" th:text="${label}"></p>
            <ul th:if="${label == '정보 수정'}">
                <li>
                    <a th:href="@{/admin/updateinfo}">회원정보 수정</a>
                </li>
                <li>
                    <a th:href="@{/admin/updatepw}">비밀번호 수정</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="aside-bottom">
        <a class="logout" th:href="@{/logout}">로그아웃</a>
        <p>회원 탈퇴</p>
    </div>
</aside>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/admin/sync.js}"></script>