<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/sidebar-user.css">

<aside class="side-bar">
    <div class="aside-top">
        <a class="title" th:href="@{/mypage/orderlist}">마이 페이지</a>
        <div class="mileage-info">
            <a class="label" th:href="@{/mypage/mileage_history}">보유 마일리지</a>
            <p th:text="${mileage} + 'M'"></p>
        </div>
        <ul class="aside-body">
            <li th:each="label : ${#strings.arraySplit('장바구니,주문 내역,내가 쓴 리뷰,내가 찜한 책,추천 리스트,정보 수정',',')}">
                <a th:if="${label == '장바구니'}" th:href="@{/cart/list}" th:text="${label}"></a>
                <a th:if="${label == '주문 내역'}" th:href="@{/mypage/orderlist}" th:text="${label}"></a>
                <a th:if="${label == '내가 쓴 리뷰'}" th:href="@{/mypage/review}" th:text="${label}"></a>
                <a th:if="${label == '내가 찜한 책'}" th:href="@{/mypage/favoritebook}" th:text="${label}"></a>
                <p th:if="${label == '추천 리스트'}" th:text="${label}"></p>
                <p th:if="${label == '정보 수정'}" th:text="${label}"></p>
                <ul th:if="${label == '추천 리스트'}">
                    <li>
                        <a th:href="@{/mypage/my_book_mark_list}">내가 찜한 추천 리스트</a>
                    </li>
                    <li>
                        <a th:href="@{/mypage/my_recommend_list}">내가 만든 추천 리스트</a>
                    </li>
                </ul>
                <ul th:if="${label == '정보 수정'}">
                    <li>
                        <a th:href="@{/mypage/updateinfo}">회원정보 수정</a>
                    </li>
                    <li>
                        <a th:href="@{/mypage/updatepw}">비밀번호 수정</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="aside-bottom">
        <a class="logout" th:href="@{/logout}">로그아웃</a>
        <p class="withdraw">회원 탈퇴</p>
    </div>
</aside>
<script th:src="@{/js/mypage/withdraw.js}"></script>