.sales-list {

    display: flex;
    flex-direction: column;
    align-items: end;
}

.sales-list-header {

    border-top: solid 1px white;
}

.sales-list-header, .sales-list-body {

    border-bottom: solid 1px white;
}

.sales-list-header li {

    display: flex;
    margin: 10px 0;
}

.sales-list-body li {

    display: flex;
    align-items: center;
    min-height: 50px;
    margin: 20px 0;
}

.price {

    width: 100px;
}

.quantity {

    text-align: center;
    width: 80px;
}

.sales {

    width: 120px;

    margin-left: 20px;
}

.book-name {

    width: 300px;
    margin: 0 20px;
}

.page-button-group {

    display: flex;
    justify-content: center;

    gap: 20px;
    margin-top: 50px;
}

.select-button{
    color: #D54DFE;
}

.no-content{
    margin: 20px 0;
    align-self: center;
}