.book-list {

    display: flex;
    flex-direction: column;
    align-items: end;
}

.book-list-header {

    border-top: solid 1px white;
}

.book-list-header, .book-list-body {

    border-bottom: solid 1px white;
}

.book-list-header li {

    display: flex;
    margin: 10px 0;
}

.book-list-body li {

    display: flex;
    align-items: center;
    min-height: 50px;
    margin: 20px 0;
}

.price {

    width: 150px;

}

.book-item .quantity {
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    width: 80px;

}

.book-list-header .quantity{
    width: 180px;
}

.book-name {

    width: 300px;
    margin: 0 20px;
}

.edit-button, .delete-button{
    width: 50px;
}

.page-button-group {

    display: flex;
    justify-content: center;

    gap: 20px;
    margin-top: 50px;
}

.select-button{
    color: #D54DFE;
}

.no-content{
    margin: 20px 0;
    align-self: center;
}

.stocklist-header{
    display: flex;
    justify-content: space-between;
}

.no-stock-button-container{
    display: flex;
    align-items: flex-end;
}

.search-no-stock-button{
    background-color: #595959;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 30px;
}

