.user-list {

          display: flex;
          flex-direction: column;
          align-items: end;
      }

.user-list-header {

    border-top: solid 1px white;
}

.user-list-header, .user-list-body {

    border-bottom: solid 1px white;
}

.user-list-header li {

    display: flex;
    margin: 10px 0;
}

.user-list-body li {

    display: flex;
    align-items: baseline;
    margin: 10px 0;
}

.nickname, .user-grade {
    width: 100px;
}

.user-list-header .user-grade{
    width: 200px;
}

.edit-button, .delete-button{
    width: 50px;
}

.user-email {

    width: 300px;
    margin-left: 20px;
}

.user-list-body li{
    display: flex;
    align-items: center;
    height: 50px;
}

.page-button-group {

    display: flex;
    justify-content: center;

    gap: 20px;
    margin-top: 50px;
}

.select-button{
    color: #D54DFE;
}

.no-content{
    margin: 20px 0;
    align-self: center;
}

/*드롭 다운 스타일*/
.user-grade{
    color: white;
}