@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'JalnanGothic';
    margin:0;
    pading:0;
    box-sizing: border-box;

    color: white;
    background-color: black;
}

body {
    min-height: 100vh;

    margin: 0 auto;
}

.header {
    height: 10%
}

.content {
    height:100%;
}

ul,li {
    margin: 0;
    padding: 0;

    list-style: none;
}

a {
    color: inherit;
    text-decoration-line: none;
}

button {
    border: 0;
    background: none;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 100px 0;
    gap: 50px;
}