.side-bar {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 300px;

    padding: 40px 30px 10px 35px;
    margin-top: 20px;

    border-right: solid 1px white;
}

.title-div {

    margin-bottom: 50px;
}

.aside-body ul {

    display: none;
    position: relative;
    width: 100%;

    margin-top: 30px;
}

.aside-body li:hover > ul {

    display: block;
}

.side-bar li {

    margin-bottom: 30px;
}

.label {

    width: 130px;
}

.logout {

    margin-right: 20px;
}

.aside-bottom {

    display: flex;
    margin-top: 100px;
}

.sync-div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sync-button{

    padding: 4px;
    border-radius: 5px;
    background-color: #D54DFE;

    font-size: 10px;
}