<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>오늘의 책</title>
    <link th:href="@{/css/index.css}" href="../static/css/index.css" rel="stylesheet"/>
</th:block>
<div th:replace="~{fragments/header.html}"></div>
<main th:fragment="content">
    <div class="index-wrap">
        <article>
            <form class="search-form" onsubmit="return submitForm()">
                <input class="search-input" th:placeholder="'검색할 도서를 입력해주세요. (저자, 책 제목)'" th:name="keyword">
                <button class="search-button" th:text="'검색'"></button>
            </form>
        </article>
        <article class="advertise">
            <img th:src="@{/images/alan-2.gif}">
        </article>
        <section class="recommend-list-section">
            <article>
                <div class="recommend-list-header">
                    <p class="recommend-list-title" th:text="'내가 찜한 책'"></p>
                    <p class="more-button" th:text="'더보기'"></p>
                </div>
                <ul class="recommend-list">
                    <li>
                        &lt;
                    </li>
                    <li th:each="num : ${#numbers.sequence(1,5)}">
                        <img th:src="@{'/images/book/' + ${num} + '.png'}">
                    </li>
                    <li>
                        &gt;
                    </li>
                </ul>
            </article>
            <article>
                <div class="recommend-list-header">
                    <p class="recommend-list-title" th:text="'앨런의 추천 리스트'"></p>
                    <p class="more-button" th:text="'더보기'"></p>
                </div>
                <ul class="recommend-list">
                    <li>
                        &lt;
                    </li>
                    <li th:each="num : ${#numbers.sequence(6,10)}">
                        <img th:src="@{'/images/book/' + ${num} + '.png'}">
                    </li>
                    <li>
                        &gt;
                    </li>
                </ul>
            </article>
            <article>
                <div class="recommend-list-header">
                    <p class="recommend-list-title" th:text="'개발자들이 많이 찾는 책'"></p>
                    <p class="more-button" th:text="'더보기'"></p>
                </div>
                <ul class="recommend-list">
                    <li>
                        &lt;
                    </li>
                    <li th:each="num : ${#numbers.sequence(11,15)}">
                        <img th:src="@{'/images/book/' + ${num} + '.png'}">
                    </li>
                    <li>
                        &gt;
                    </li>
                </ul>
            </article>
            <article>
                <div class="recommend-list-header">
                    <p class="recommend-list-title" th:text="'User의 추천 리스트 | 타이틀'"></p>
                    <p class="more-button" th:text="'더보기'"></p>
                </div>
                <ul class="recommend-list">
                    <li>
                        &lt;
                    </li>
                    <li th:each="num : ${#numbers.sequence(16,20)}">
                        <img th:src="@{'/images/book/' + ${num} + '.png'}">
                    </li>
                    <li>
                        &gt;
                    </li>
                </ul>
            </article>
            <article>
                <div class="recommend-list-header">
                    <p class="recommend-list-title" th:text="'User의 추천 리스트 | 타이틀'"></p>
                    <p class="more-button" th:text="'더보기'"></p>
                </div>
                <ul class="recommend-list">
                    <li>
                        &lt;
                    </li>
                    <li th:each="num : ${#numbers.sequence(16,20)}">
                        <img th:src="@{'/images/book/' + ${num} + '.png'}">
                    </li>
                    <li>
                        &gt;
                    </li>
                </ul>
            </article>
        </section>
    </div>
</main>
<div th:replace="~{fragments/footer.html}"></div>
<script th:src="@{/js/search/search.js}"></script>
</html>