<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>오늘의 책</title>
    <link th:href="@{/css/index.css}" href="../static/css/index.css" rel="stylesheet"/>
    <link th:href="@{/css/list/list.css}" href="../static/css/index.css" rel="stylesheet"/>

</th:block>
<div th:replace="~{fragments/header.html}"></div>
<main th:fragment="content">
    <div class="index-wrap">
        <article>
            <form class="search-form" action="/book/search" onsubmit="return submitForm(event)">
                <div class="select-box">
                    <button type="button" class="select-box-button">
                        <img th:src="@{/images/triangle-down.svg}">
                        <p>선택</p>
                    </button>
                    <ul class="select-box-option">
                        <li>
                            <button type="button">책</button>
                        </li>
                        <li>
                            <button type="button">리스트</button>
                        </li>
                    </ul>
                </div>
                <input class="search-input" th:placeholder="'검색할 도서를 입력해주세요. (저자, 책 제목)'" th:name="keyword">
                <button class="search-button" th:text="'검색'"></button>
            </form>
        </article>
        <article class="advertise">
            <a th:href="@{/alan/chat}">
                <img th:src="@{/images/alan-2.gif}">
            </a>
        </article>
        <section class="recommend-list-section">
            <article th:unless="${favoriteBooks.isEmpty()}">
                <div class="recommend-list-header">
                    <div class="recommend-list-title-container">
                        <p class="recommend-list-title"
                           th:text="'내가 찜한 책'"></p>
                    </div>
                    <a th:href="'/mypage/favoritebook'">더보기</a>
                </div>
                <div class="recommend-list-body">
                    <button th:class="${favoriteBooks.size()}>5 ? 'prev-btn' : 'prev-btn-hidden'" th:onclick="prevSlide('favorite',this)">&lt;</button>
                    <div class="slider-container">
                        <ul class="recommend-list">
                            <li class="book-item" th:each="book : ${favoriteBooks}" th:value="${book.id}">
                                <figure class="book-info">
                                    <a th:href="'/book/detail/'+${book.id}">
                                        <img th:src="${book.imagePath}" th:alt="${book.title}">
                                        <figcaption class="overlay">
                                            <p class="book-title" th:if="${book.title.length() > 25}" th:text="${#strings.substring(book.title, 0, 25)} + '...'"></p>
                                            <p class="book-title" th:unless="${book.title.length() > 25}" th:text="${book.title}"></p>
                                            <p class="author" th:if="${book.author.length() > 25}" th:text="${#strings.substring(book.author, 0, 25)} + '...'"></p>
                                            <p class="author" th:unless="${book.author.length() > 25}" th:text="${book.author}"></p>
                                            <p class="price" th:text="${book.price}"></p>
                                        </figcaption>
                                    </a>
                                </figure>
                            </li>
                        </ul>
                    </div>
                    <button th:if="${favoriteBooks.size()}>5" class="next-btn" th:onclick="nextSlide('favorite',this)">&gt;</button>
                </div>
            </article>
            <article th:unless="${todayRecommendBooks.isEmpty()}">
                <div class="recommend-list-header">
                    <p class="recommend-list-title" th:text="'AI 오늘의 추천 리스트'"></p>
                </div>
                <div class="recommend-list-body">
                    <button th:class="${todayRecommendBooks.size() > 5 ? 'prev-btn' : 'prev-btn-hidden'}" th:onclick="prevSlide('today', this)">&lt;</button>
                    <div class="slider-container">
                        <ul class="recommend-list">
                            <li class="book-item" th:each="book : ${todayRecommendBooks}" th:value="${book.id}">
                                <figure class="book-info">
                                    <a th:href="@{'/book/detail/' + ${book.id}}">
                                        <img th:src="${book.image}" th:alt="${book.title}">
                                        <figcaption class="overlay">
                                            <p class="book-title" th:if="${book.title.length() > 25}" th:text="${#strings.substring(book.title, 0, 25)} + '...'"></p>
                                            <p class="book-title" th:unless="${book.title.length() > 25}" th:text="${book.title}"></p>
                                            <p class="author" th:if="${book.author.length() > 25}" th:text="${#strings.substring(book.author, 0, 25)} + '...'"></p>
                                            <p class="author" th:unless="${book.author.length() > 25}" th:text="${book.author}"></p>
                                            <p class="price" th:text="${book.price}"></p>
                                        </figcaption>
                                    </a>
                                </figure>
                            </li>
                        </ul>
                    </div>
                    <button th:if="${todayRecommendBooks.size() > 5}" class="next-btn" th:onclick="nextSlide('today', this)">&gt;</button>
                </div>
            </article>
            <article th:unless="${recommendBooks.isEmpty()}">
                <div class="recommend-list-header">
                    <div class="recommend-list-title-container">
                        <p class="recommend-list-title"
                           th:text="'내가 찜한 책과 유사한 책'"></p>
                    </div>
                </div>
                <div class="recommend-list-body">
                    <button th:class="${recommendBooks.size()}>5 ? 'prev-btn' : 'prev-btn-hidden'" th:onclick="prevSlide('recommend',this)">&lt;</button>
                    <div class="slider-container">
                        <ul class="recommend-list">
                            <li class="book-item" th:each="book : ${recommendBooks}" th:value="${book.id}">
                                <figure class="book-info">
                                    <a th:href="'/book/detail/'+${book.id}">
                                        <img th:src="${book.imagePath}" th:alt="${book.title}">
                                        <figcaption class="overlay">
                                            <p class="book-title" th:if="${book.title.length() > 25}" th:text="${#strings.substring(book.title, 0, 25)} + '...'"></p>
                                            <p class="book-title" th:unless="${book.title.length() > 25}" th:text="${book.title}"></p>
                                            <p class="author" th:if="${book.author.length() > 25}" th:text="${#strings.substring(book.author, 0, 25)} + '...'"></p>
                                            <p class="author" th:unless="${book.author.length() > 25}" th:text="${book.author}"></p>
                                            <p class="price" th:text="${book.price}"></p>
                                        </figcaption>
                                    </a>
                                </figure>
                            </li>
                        </ul>
                    </div>
                    <button th:if="${recommendBooks.size()}>5" class="next-btn" th:onclick="nextSlide('recommend',this)">&gt;</button>
                </div>
            </article>
            <article class="recommend-list-container" th:each="recommendList : ${userRecommendList}">
                <div th:replace="~{fragments/recommend-list-header.html}"></div>
                <div th:replace="~{fragments/recommend-list-body.html}"></div>
            </article>
        </section>
    </div>
</main>
<div th:replace="~{fragments/footer.html}"></div>
<script th:src="@{/js/search/search.js}"></script>
<script th:src="@{/js/list/page.js}"></script>
<script th:src="@{/js/mypage/bookMark.js}"></script>
</html>