<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>오늘의 책</title>
    <link th:href="@{/css/index.css}" href="../static/css/index.css" rel="stylesheet"/>
    <link th:href="@{/css/list/list.css}" rel="stylesheet"/>
</th:block>
<div th:replace="~{fragments/header.html}"></div>
<main th:fragment="content">
    <div class="index-wrap">
        <article>
            <form class="search-form" action="/book/search" onsubmit="return submitForm(event)">
                <div class="select-box">
                    <button type="button" class="select-box-button">
                        <img th:src="@{/images/triangle-down.svg}">
                        <p>선택</p>
                    </button>
                    <ul class="select-box-option">
                        <li>
                            <button type="button">책</button>
                        </li>
                        <li>
                            <button type="button">리스트</button>
                        </li>
                    </ul>
                </div>
                <input class="search-input" th:placeholder="'검색할 도서를 입력해주세요. (저자, 책 제목)'" th:name="keyword">
                <button class="search-button" th:text="'검색'"></button>
            </form>
        </article>
        <article class="advertise">
            <a th:href="@{/alan/recommend}">
                <img th:src="@{/images/alan-2.gif}">
            </a>
        </article>
        <section class="recommend-list-section">
            <article>
                <div class="recommend-list-header">
                    <p class="recommend-list-title" th:text="'내가 찜한 책'"></p>
                    <p class="more-button" th:text="'더보기'"></p>
                </div>
                <ul class="recommend-list">
                    <li>
                        &lt;
                    </li>
                    <li th:each="num : ${#numbers.sequence(1,5)}">
                        <img th:src="@{'/images/book/' + ${num} + '.png'}">
                    </li>
                    <li>
                        &gt;
                    </li>
                </ul>
            </article>
            <article>
                <div class="recommend-list-header">
                    <p class="recommend-list-title" th:text="'앨런의 추천 리스트'"></p>
                    <p class="more-button" th:text="'더보기'"></p>
                </div>
                <ul class="recommend-list">
                    <li>
                        &lt;
                    </li>
                    <li th:each="num : ${#numbers.sequence(6,10)}">
                        <img th:src="@{'/images/book/' + ${num} + '.png'}">
                    </li>
                    <li>
                        &gt;
                    </li>
                </ul>
            </article>
            <article>
                <div class="recommend-list-header">
                    <p class="recommend-list-title" th:text="'개발자들이 많이 찾는 책'"></p>
                    <p class="more-button" th:text="'더보기'"></p>
                </div>
                <ul class="recommend-list">
                    <li>
                        &lt;
                    </li>
                    <li th:each="num : ${#numbers.sequence(11,15)}">
                        <img th:src="@{'/images/book/' + ${num} + '.png'}">
                    </li>
                    <li>
                        &gt;
                    </li>
                </ul>
            </article>
            <article class="recommend-list-container" th:each="recommendList : ${userRecommendList}">
                <div class="recommend-list-header">
                    <p class="recommend-list-title"
                       th:text="${recommendList.nickname}+'님의 추천리스트 | '+${recommendList.listTitle}"
                       th:value="${recommendList.listId}"></p>

<!--                    고쳐야될거-->
                    <p class="book-mark" th:if="${recommendList.isBookmarked}" onclick="clickBookMarkBtn(this)">O</p>
                    <p class="book-mark" th:unless="${recommendList.isBookmarked}" onclick="clickBookMarkBtn(this)">X</p>


                    <a th:href="'/recommend/detail/'+${recommendList.listId}">더보기</a>
                </div>
                <div class="recommend-list-body">
                    <button class="prev-btn"
                            th:onclick="prevSlide([[${recommendList.listId}]],this)">&lt;</button>
                    <div class="slider-container">
                        <ul class="recommend-list">
                            <li class="book-item" th:each="book : ${recommendList.bookList}" th:value="${book.id}">
                                <figure class="book-info">
                                    <a th:href="'/book/'+${book.id}">
                                        <img th:src="${book.image}" th:alt="${book.title}">
                                        <figcaption class="overlay">
                                            <p class="book-title" th:text="${book.title}"></p>
                                            <p class="author" th:text="${book.author}"></p>
                                            <p class="price" th:text="${book.price}"></p>
                                        </figcaption>
                                    </a>
                                </figure>
                            </li>
                        </ul>
                    </div>
                    <button class="next-btn"
                            th:onclick="nextSlide([[${recommendList.listId}]],this)">&gt;</button>
                </div>
            </article>
        </section>
    </div>
</main>
<div th:replace="~{fragments/footer.html}"></div>
<script th:src="@{/js/search/search.js}"></script>
<script th:src="@{/js/list/page.js}"></script>
<script th:src="@{/js/mypage/bookMark.js}"></script>
</html>