<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>결제 하기</title>
    <link th:href="@{/css/payment/info.css}" rel="stylesheet"/>
</th:block>
<div th:replace="~{fragments/header.html}"></div>
<main th:fragment="content">
    <div class="payment-wrap">
        <div class="receiver-info-header">
            <p class="title">받는 사람 정보</p>
            <div class="check-box-div">
                <input class="check-box" type="checkbox">
                <p>회원 정보와 동일</p>
            </div>
        </div>
        <section class="receiver-info">
            <ul>
                <li th:each="label : ${#strings.arraySplit('받으시는 분,주소,우편 번호,연락처',',')}">
                    <p class="label" th:text="${label}"></p>
                    <input class="input">
                    <button class="button"
                            th:if="${label == '주소'}" th:text="'검색'"></button>
                </li>
            </ul>
        </section>
        <p class="title">결제 정보</p>
        <section class="payment-info">
            <ul>
                <li>
                    <p class="label">총 상품 가격</p>
                    <p>66,000원</p>
                </li>
                <li>
                    <p class="label">보유 마일리지</p>
                    <p>10,000M</p>
                </li>
                <li>
                    <p class="label">사용 마일리지</p>
                    <div class="check-box-div">
                        <input class="check-box" type="checkbox">
                        <p>전액 사용</p>
                        <input class="mileage-input">
                    </div>
                </li>
                <li>
                    <p class="label">배송료</p>
                    <p>3000원</p>
                </li>
            </ul>
        </section>
        <div class="total-price-div">
            <p>총 결제 금액</p>
            <p>69,000원</p>
        </div>
        <div class="button-group">
            <button class="submit button" th:text="'결제 하기'"></button>
            <button class="cancel button" th:text="'취소'"></button>
        </div>
    </div>
</main>
<div th:replace="~{fragments/footer.html}"></div>
</html>