<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>결제 하기</title>
    <link href="../../static/css/payment/info.css" th:href="@{/css/payment/info.css}" rel="stylesheet"/>
</th:block>
<div th:replace="~{fragments/header.html}"></div>
<main th:fragment="content">
    <div class="payment-wrap">
        <div class="receiver-info-header">
            <p class="title">받는 사람 정보</p>
            <div class="check-box-div">
                <input class="check-box" type="checkbox">
                <p>회원 정보와 동일</p>
            </div>
        </div>
        <section class="receiver-info">
            <ul>
<!--                <li th:each="label : ${#strings.arraySplit('받으시는 분,주소,우편 번호,연락처',',')}">-->
<!--                    <p class="label" th:text="${label}"></p>-->
<!--                    <input class="input">-->
<!--                    <button class="button"-->
<!--                            th:if="${label == '주소'}" th:text="'검색'"></button>-->
<!--                </li>-->
                <li>
                    <p class="label">받으시는 분</p>
                    <input class="input" type="text" id="user">
                </li>
                <li>
                    <p class="label">우편번호</p>
                    <input class="input" type="text" id="postcode">
                    <input class="button" type="button" onclick="execDaumPostcode()" value="검색"><br>
                </li>
                <li>
                    <p class="label">주소</p>
                    <input class="input" type="text" id="address"><br>
                </li>
                <li>
                    <p class="label">상세주소</p>
                    <input class="input" type="text" id="detailAddress">
                </li>
            </ul>
        </section>
        <p class="title">결제 정보</p>
        <section class="payment-info">
            <ul>
                <li>
                    <p class="label">총 상품 가격</p>
                    <p th:text="${totalPrice != null} ? ${totalPrice + '원'} : '0원'"></p>
                </li>
                <li>
                    <p class="label">보유 마일리지</p>
                    <p>10,000M</p>
                </li>
                <li>
                    <p class="label">사용 마일리지</p>
                    <div class="check-box-div">
                        <input class="check-box" type="checkbox">
                        <p>전액 사용</p>
                        <input class="mileage-input">
                    </div>
                </li>
                <li>
                    <p class="label">배송료</p>
                    <p>3000원</p>
                </li>
            </ul>
        </section>
        <div class="total-price-div">
            <p>총 결제 금액</p>
            <p th:text="${totalPrice != null} ? (${totalPrice} + 3000 + '원') : '0원'"></p>
        </div>
        <div class="button-group">
            <button class="submit button" onclick="location.href='/payment'">결제 하기</button>
            <button class="cancel button" th:text="'취소'"></button>
        </div>
    </div>
</main>
<div th:replace="~{fragments/footer.html}"></div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("detailAddress").focus();
            }
        }).open();
    }
</script>
</html>