<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>결제 하기</title>
    <link href="../../static/css/payment/info.css" th:href="@{/css/payment/info.css}" rel="stylesheet"/>
<!--    <link th:href="@{/css/cart/list.css}" rel="stylesheet"/>-->
</th:block>
<div th:replace="~{fragments/header.html}"></div>
<main th:fragment="content">
    <div class="payment-wrap">
        <div class="receiver-info-header">
            <p class="title">받는 사람 정보</p>
            <div class="check-box-div">
                <input class="check-box" type="checkbox" id="sameUserInfo">
                <p>회원 정보와 동일</p>
            </div>
        </div>
        <section class="receiver-info">
            <ul>
<!--                <li th:each="label : ${#strings.arraySplit('받으시는 분,주소,우편 번호,연락처',',')}">-->
<!--                    <p class="label" th:text="${label}"></p>-->
<!--                    <input class="input">-->
<!--                    <button class="button"-->
<!--                            th:if="${label == '주소'}" th:text="'검색'"></button>-->
<!--                </li>-->
                <li>
                    <p class="label">받으시는 분</p>
                    <input class="input" type="text" id="user">
                </li>
                <li>
                    <p class="label">주소</p>
                    <input class="input" type="text" id="address">
                    <input class="button" type="button" onclick="execDaumPostcode()" value="검색"><br>
                </li>
                <li class="detail-address">
                    <p class="label">상세주소</p>
                    <input class="input" type="text" id="detailAddress">
                </li>
                <li>
                    <p class="label">우편번호</p>
                    <input class="input" type="text" id="postcode">
                </li>
            </ul>
        </section>

        <p class="title">주문 상품 목록</p>
        <section class = "cart-list-section">
            <div class="cart-list">
                <ul class="cart-list-body">
                    <li th:each="cartBook : ${cartBooks}">

                        <p class="book-name" th:text="${cartBook.bookName}"></p>
                        <p class="quantity_count" th:text="${cartBook.quantity}"></p>
                        <p class="price" th:text="${cartBook.price + '원'}"></p>

                    </li>
                </ul>
            </div>
        </section>

        <p class="title">결제 정보</p>
        <section class="payment-info">
            <ul>
                <li>
                    <p class="label">총 상품 가격</p>
                    <p id="totalOrderAmount" th:text="${totalPrice + '원'}"></p> <!--수정된 부분-->
                </li>
                <li>
                    <p class="label">보유 마일리지</p>
                    <p id="mileage" th:text="${mileage + 'M'}"></p>
                </li>
                <li>
                    <p class="label">사용 마일리지</p>
                    <div class="check-box-div">
                        <input class="check-box" type="checkbox" id="use-all-mileage-checkbox">
                        <p>최대 사용</p>
                        <input class="mileage-input" type="text" id="mileage-input">
                        <p>M</p>
                    </div>

                </li>
                <p>(최대 사용가능 마일리지 : 총 결제 금액의 30%)</p>
                <br>
                <li>
                    <p class="label">배송료</p>

                    <p id="deliveryFee"></p> <!--수정된 부분-->
                </li>
            </ul>
        </section>
        <div class="total-price-div">
            <p>총 결제 금액</p>
            <p id = "totalPriceDisplay"></p> <!--수정된 부분-->
        </div>
        <div class="button-group">
            <button class="submit button" onclick="postAddressAndMileageInfo()">결제 하기</button>
            <button class="cancel button" th:text="'취소'"></button>
        </div>
    </div>
</main>
<div th:replace="~{fragments/footer.html}"></div>
<script th:src="@{/js/payment/info.js}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{/js/payment/daum_address_api.js}"></script>
<script th:src="@{/js/cart/listchild.js}"></script>
</html>