.list-wrap {

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 100px;
    gap: 50px;
}

.recommend-list-title{
    font-size: 25px;
}

.recommend-list-header{
    margin-bottom: 80px;
}
.recommend-list-body {
    width: 850px;
}

.recommend-list {

    display: flex;
    flex-wrap: wrap;

    gap: 20px;
}

figure {

    margin-bottom: 50px;
}

figure img {
    width:150px;
    height: 226px;
    margin-bottom: 10px;
}

.book-title, .author {

    display: flex;
    width: 150px;
    flex-wrap: wrap;
    justify-content: center;
}

.book-title, .author, .price {
    text-align: center;
    margin-bottom: 10px;
}

.author, .price {
    color: grey;
}
