.index-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 100px;
    gap: 50px;
}

.user-list-title-input{
    width: 800px;
    height: auto;
    padding: 10px 10px;
    margin-left: 10px;
    background-color: black;
    font-size: 30px;
    color: white;
    border: none;
    outline: none;
    resize: none;
}

.drag-and-drop-container{
    display: flex;
    align-items: center;
    width: 800px;
    height: 300px;
    border: white solid 1px;
    border-radius: 10px;
    overflow: hidden;
}

.search-list, .user-list {
    display: flex;
    align-items: center;
    gap : 10px;
    transition: transform 0.5s ease;
}

.button-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.register-button, .cancel-button{
    background-color: #D54DFE;
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
}

.cancel-button{
    background-color: #595959;
}

/* 삭제 버튼 숨기기 */
.delete-button {
    display: none;
    position: absolute;
    color: white;
    font-size: 25px;
    top: 0;
    right: 0;
}

/* 마우스를 올렸을 때 삭제 버튼 표시 */
.book-item:hover .delete-button {
    display: inline-block;
}

.no-content {
    width: 800px;
    margin: 20px 0;
    text-align: center; /* 가운데 정렬 */
}