main {

    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.title {

    font-size: 30px;
}

.receiver-info-header, .check-box-div {

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.receiver-info-header {

    margin-bottom: 50px;
}

.receiver-info {

    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: solid 1px white;
}

.receiver-info li {

    display: flex;
    align-items: center;

    margin-bottom: 10px;
}

.payment-info {

    padding-bottom: 30px;
    margin: 50px 0 30px 0;
    border-bottom: solid 1px white;
}

.payment-info li {

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

.check-box {

    margin-right: 10px;
}

.label {

    width: 150px;
}

.input {

    width: 300px;

    border: none;
    outline: none;

    background-color: white;
    color: #252525;

    border-radius: 5px;
    padding: 10px;

    margin-right: 10px;
}

.mileage-input {

    width: 80px;

    border: none;
    outline: none;

    background-color: white;
    color: #252525;

    border-radius: 5px;
    padding: 10px;

    margin-left: 10px;
}

.total-price-div {

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 50px;
}

.button {

    width: 80px;

    background-color: #D54DFE;
    border-radius: 5px;
    padding: 10px;
}

.button-group {

    display: flex;
    justify-content: center;
    gap: 10px;
}

.submit {

    background-color: #D54DFE;
}

.cancel {

    background-color: #595959;
}