main {

    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.title {
    font-size: 30px;
    margin-bottom: 20px;
}

.description {
    font-size: 20px;
    margin-bottom: 50px;
}

.cart-list-header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.cart-list-header li{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.payment-info-body {

    padding: 10px;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
}

.payment-info-body li {

    display: flex;
    justify-content: center;
    padding: 10px;
}

.quantity {
    width: 80px;
}

.price, .mileage {

    width: 150px;
}

.quantity, .price, .mileage {

    text-align: center;
}

.book-name {

    width: 300px;
}

.payment-info-bottom li {

    display: flex;
    align-items: center;
    gap: 30px;

    padding: 10px 20px;

    border-bottom: 1px solid white;
}

.total-price-div {

    display: flex;
    justify-content: right;
    gap: 30px;
    padding: 10px 20px;
}

.etc {
    display: flex;
    padding: 10px 20px;
    margin-bottom: 50px;
}

.main-button, .delivery-button {

    width: 80px;

    background-color: #D54DFE;
    border-radius: 5px;
    padding: 10px;
}

.button-group {

    display: flex;
    justify-content: center;
    gap: 10px;
}

.delivery-button {

    background-color: #595959;
}