<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>내가 찜한 책</title>
    <link th:href="@{/css/user/mypage/favorite-book.css}" rel="stylesheet"/>
</th:block>
<div th:replace="~{fragments/header.html}"></div>
<main th:fragment="content">
    <aside th:replace="~{fragments/sidebar-user.html}"></aside>
    <div class="mypage-wrap">
        <section>
            <p class="mypage-title">내가 찜한 책</p>
            <div class="favorite-book-list">
                <ul class="row">
                    <li th:each="book : ${dto}">
                        <figure>
                            <a th:href="@{/book/detail/{id}(id=${book.id})}">
                                <img class="book-img" th:src="${book.imagePath}" th:alt="${book.title}">
                                <figcaption class="overlay">
                                    <p class="book-title" th:text="${book.title}"></p>
                                    <p class="author" th:text="${book.author}"></p>
                                    <p class="price" th:text="${book.price}"></p>
                                </figcaption>
                            </a>
                        </figure>
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <div th:replace="~{fragments/page.html}"></div>
        </section>
    </div>
</main>
<div th:replace="~{fragments/footer.html}"></div>
<script th:src="@{/js/mypage/page.js}"></script>
</html>