<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>주문 내역</title>
    <link th:href="@{/css/user/mypage/orderlist.css}" href="../../../static/css/user/mypage/orderlist.css"
          rel="stylesheet"/>
</th:block>
<div th:replace="~{fragments/header.html}"></div>
<main th:fragment="content">
    <aside th:replace="~{fragments/sidebar-user.html}"></aside>
    <div class="mypage-wrap">
        <section>
            <p class="mypage-title">주문 내역</p>
            <div class="order-list">
                <ul class="order-list-header">
                    <li>
                        <p class="select">선택</p>
                        <p class="order-id">주문 번호</p>
                        <p class="delivery">배송 조회</p>
                        <p class="order-detail">주문 상세</p>
                    </li>
                </ul>
                <ul class="order-list-body">
                    <li th:each="dto : ${orderDtos}">
                        <div class="select">
                            <input type="checkbox">
                        </div>
                        <p class="order-id" th:text="${'주문 번호 - ' + dto.id}"></p>
                        <a class="delivery" th:href="@{/mypage/user/delivery}">배송 조회</a>
                        <a class="order-detail" th:href="@{/mypage/user/order_detail}">주문 상세</a>
                    </li>
                </ul>
                <button class="delete-button">삭제</button>
            </div>
<!--            <ul class="page-button-group">-->
<!--                <li th:each="num : ${#numbers.sequence(1,5)}">-->
<!--                    <button th:text="${num}"></button>-->
<!--                </li>-->
<!--            </ul>-->
        </section>
    </div>
</main>
<div th:replace="~{fragments/footer.html}"></div>
</html>