<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="head">
    <title>마이 페이지</title>
    <link th:href="@{/css/user/mypage/update-info.css}" href="../../../static/css/user/mypage/update-info.css" rel="stylesheet"/>
</th:block>
<div th:replace="~{fragments/header.html}"></div>
<main th:fragment="content">
    <aside th:replace="~{fragments/sidebar-user.html}"></aside>
    <div class="mypage-wrap">
        <section>
            <p class="mypage-title">회원 정보 수정</p>
            <form class="update-info-form">
                <ul>
                    <li>
                        <p class="label" th:text="'닉네임'"></p>
                        <input class="input" th:value="${user.nickName}">
                        <button class="button" th:text="'중복 확인'"></button>
                    </li>
                    <li>
                        <p class="label" th:text="'주소'"></p>
                        <input class="input" id="address" th:value="${user.address.split(',')[0]}">
                        <input class="button" type="button" onclick="execDaumPostcode()" value="검색">
                    </li>
                    <li>
                        <p class="label" th:text="'상세주소'"></p>
                        <input class="input" id="detailAddress"
                               th:value="${user.address.split(',')[1].trim()}">
                    </li>
                    <li>
                        <p class="label" th:text="'우편번호'"></p>
                        <input class="input" id="postcode" th:value="${user.zipcode}">
                    </li>
                </ul>
                <div class="button-group">
                    <button class="submit button" th:text="'수정 하기'"></button>
                </div>
            </form>
        </section>
    </div>
</main>
<div th:replace="~{fragments/footer.html}"></div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{/js/modifyInfo.js}"></script>
</html>